## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#template('notification/macros.vm')

#set ($mainIcon = 'list')
#set ($smallIcon = '')


#macro (getGenericFieldDescription $customEventInfo)
  ## The notification text will be available in `$eventText` after calling this macro.
  #set ($localizationParams = [
    $customEventInfo['currentValue'],
    $customEventInfo['previousValue']
  ])
  #set ($localizationId = "taskmanager.events.taskChangedEvent.details.${customEventInfo['type']}" )
  #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams))
#end

#macro (getAssigneeDescription $customEventInfo)
  #if ("$!customEventInfo['currentValue']" == '')
    #if ($customEventInfo['previousValue'] == $xwiki.getUser().getUser().getFullName())
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.unassigned')
    #else
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.none')
    #end
  #elseif ($customEventInfo['currentValue'] == $xwiki.getUser().getUser().getFullName())
    #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.assigned')
  #end
  #set ($localizationParams = [
    '__currentUser__',
    '__previousUser__'
  ])
  #set ($localizationId = "taskmanager.events.taskChangedEvent.details.${customEventInfo['type']}" )
  #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams) )
  #set ($eventText = $eventText.replace('__currentUser__', $!xwiki.getUserName($customEventInfo['currentValue'])))
  #set ($eventText = $eventText.replace('__previousUser__', $!xwiki.getUserName($customEventInfo['previousValue'])))
#end

#macro (getDueDateDescription $customEventInfo)
  ## Send different messages if the due date was extended or reduced.
  ## The date is displayed using the format configured in datemacro.
  #set ($displayDateFormat = $services.datemacro.configuration.displayDateFormat)
  #set ($displayDateFormatter = $xwiki.jodatime.getDateTimeFormatterForPattern($displayDateFormat))
  #if ($customEventInfo['previousValue'])
    #if ($customEventInfo['previousValue'] < $customEventInfo['currentValue'])
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.later')
    #else
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.earlier')
    #end
    #set ($customEventInfo['previousValue'] = 
      $!escapetool.xml($displayDateFormatter.print(
        $xwiki.jodatime.getDateTime($customEventInfo['previousValue'])
      ))
    )
  #end
  #if ($customEventInfo['currentValue'])
    #set ($customEventInfo['currentValue'] = 
      $!escapetool.xml($displayDateFormatter.print(
        $xwiki.jodatime.getDateTime($customEventInfo['currentValue'])
      ))
    )
  #end
  #getGenericFieldDescription($customEventInfo)
#end

#macro (displayEventDetails $event)
  <tr>
    <td>
      <span class="notification-event-user">$!xwiki.getUserName($event.user)</span>
    </td>
    #set ($customEventInfo = $jsontool.fromString($event.getBody()))
    #if ($customEventInfo['type'] == 'assignee')
      #getAssigneeDescription($customEventInfo)
    #elseif ($customEventInfo['type'] == 'duedate')
      #getDueDateDescription($customEventInfo)
    #else
      #getGenericFieldDescription($customEventInfo)
    #end
    <td class="description">$eventText</td>
    <td class="text-right text-muted">$escapetool.xml($datetool.whenIs($event.date))</td>
  </tr>
#end

#define ($content)
  ## All folded events should have the same document, so display the first one as a title for the group.
  #set ($document = $xwiki.getDocument($!compositeEvent.events[0].document))
  <div class="notification-page">
    <a href="$!escapetool.xml($document.getURL())">$!escapetool.xml($!document.getObject('TaskManager.TaskManagerClass').get('name'))</a>
    #if ($xcontext.getContext().getOriginalWikiId() != $document.getDocumentReference().getWikiReference().name)
      <span class="text-muted">($services.wiki.getById($document.getDocumentReference().getWikiReference().name).prettyName)</span>
    #end
  </div>
  <div class="notification-description">
    $services.localization.render("taskmanager.events.taskChangedEvent.title")
    <div><small class="text-muted">$escapetool.xml($!services.date.displayTimeAgo($!compositeEvent.events[0].date))</small></div>
  </div>
#end

#define ($details)
  #define ($rows)
    #foreach ($thisEvent in $compositeEvent.events)
      #if ($thisEvent.type == 'com.xwiki.task.internal.notifications.TaskChangedEvent')
        #displayEventDetails($thisEvent)
      #end
    #end
  #end
  #displayNotificationEventDetailsSkeletons($compositeEvent.events.size(), $rows)
#end

#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)
