## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#template('notification/macros.vm')

#set ($mainIcon = 'list')
#set ($smallIcon = '')

#macro (displayEventDetails $event)
  #set ($document = $xwiki.getDocument($event.document))
  #if ($event.type != 'com.xwiki.task.internal.notifications.TaskChangedEvent')
    ## Do nothing if this event is from another source but it was grouped with the notifications from TaskManager.
    ## Mostly for the default page created/edited events, but could also be from other applications.
  #else
    #set ($customEventInfo = $jsontool.fromString($event.getBody()) )
    #if ("$!customEventInfo" == '')
      ## Do nothing if the json is malformed or the body contains something else.
    #else
      <tr>
        <td>
          <span class="notification-event-user">$!xwiki.getUserName($event.user)</span>
        </td>
        #if ($customEventInfo['type'] == 'assignee')
          #if ("$!customEventInfo['currentValue']" == '')
            #if ($customEventInfo['previousValue'] == $xwiki.getUser().getUser().getFullName())
              #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.unassigned')
            #else
              #set ($customEventInfo['type'] = $customEventInfo['type'] + '.none')
            #end
          #elseif ($customEventInfo['currentValue'] == $xwiki.getUser().getUser().getFullName())
            #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.assigned')
          #end
        #elseif ($customEventInfo['type'] == 'duedate')
          ## Convert from Long date to human-readable date, using format configured in datemacro.
          #set ($displayDateFormat = $services.datemacro.configuration.displayDateFormat)
          #set ($displayDateFormatter = $xwiki.jodatime.getDateTimeFormatterForPattern($displayDateFormat))
          #if ($customEventInfo['previousValue'])
            #if ($customEventInfo['previousValue'] < $customEventInfo['currentValue'])
              #set ($customEventInfo['type'] = $customEventInfo['type'] + '.later')
            #else
              #set ($customEventInfo['type'] = $customEventInfo['type'] + '.earlier')
            #end
            #set ($customEventInfo['previousValue'] = 
              $!escapetool.xml($displayDateFormatter.print(
                $xwiki.jodatime.getDateTime($customEventInfo['previousValue'])
              ))
            )
          #end
          #if ($customEventInfo['currentValue'])
            #set ($customEventInfo['currentValue'] = 
              $!escapetool.xml($displayDateFormatter.print(
                $xwiki.jodatime.getDateTime($customEventInfo['currentValue'])
              ))
            )
          #end
        #end
        #set ($localizationParams = [
          $customEventInfo['currentValue'],
          $customEventInfo['previousValue']
        ])
        #set ($localizationId = "taskmanager.events.taskChangedEvent.details.${customEventInfo['type']}" )
        #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams) )
        <td class="description">$escapetool.xml($eventText)</td>
        <td class="text-right text-muted">$escapetool.xml($datetool.whenIs($event.date))</td>
      </tr>
    #end
  #end
#end

#define ($content)
  ## All folded events should have the same document, so display the first one as a title for the group.
  #set ($document = $xwiki.getDocument($!compositeEvent.events[0].document))
  <div class="notification-page">
    <a href="$!escapetool.xml($document.getURL())">$!escapetool.xml($!document.getObject('TaskManager.TaskManagerClass').get('name'))</a>
    #if ($xcontext.getContext().getOriginalWikiId() != $document.getDocumentReference().getWikiReference().name)
      <span class="text-muted">($services.wiki.getById($document.getDocumentReference().getWikiReference().name).prettyName)</span>
    #end
  </div>
  <div class="notification-description">
    $services.localization.render("taskmanager.events.taskChangedEvent.title")
    <div><small class="text-muted">$escapetool.xml($!services.date.displayTimeAgo($!compositeEvent.events[0].date))</small></div>
  </div>
#end

#define ($details)
  #define ($rows)
    #foreach ($thisEvent in $compositeEvent.events)
      #displayEventDetails($thisEvent)
    #end
  #end
  #displayNotificationEventDetailsSkeletons($compositeEvent.events.size(), $rows)
#end

#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)
