## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#set ($mainIcon = 'list')
#set ($smallIcon = '')

#macro (getGenericFieldDescription $customEventInfo $eventText)
  ## The notification text will be available in `$eventText` after calling this macro.
  #set ($localizationParams = [
    $customEventInfo['currentValue'],
    $customEventInfo['previousValue']
  ])
  #set ($localizationId = "taskmanager.events.taskChangedEvent.details.${customEventInfo['type']}" )
  #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams))
#end

#macro (getAssigneeDescription $customEventInfo $eventText $mode)
  #set ($oldUserSet = $collectiontool.getSet())
  #foreach ($user in $customEventInfo['previousValue'].split(','))
    #set ($discard = $oldUserSet.add($user))
  #end
  #set ($newUserSet = $collectiontool.getSet())
  #foreach ($user in $customEventInfo['currentValue'].split(','))
    #set ($discard = $newUserSet.add($user))
  #end
  #set ($currentUserName = $xwiki.getUser().getUser().getFullName())
  #set ($intersectionUsers = $collectiontool.intersection($newUserSet, $oldUserSet))
  #set ($unassignedUsers = $collectiontool.disjunction($oldUserSet, $intersectionUsers))
  #set ($assignedUsers = $collectiontool.disjunction($newUserSet, $intersectionUsers))
  ##
  #set ($localizationParams = [])
  #if ($newUserSet.isEmpty())
    #set ($customEventInfo['type'] = $customEventInfo['type'] + '.none')
  #elseif ($unassignedUsers.contains($currentUserName))
    #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.unassigned')
  #elseif ($assignedUsers.contains($currentUserName))
    #set ($customEventInfo['type'] = $customEventInfo['type'] + '.you.assigned')
  #else
    ## This branch has more complex logic, so it handles its own output.
    #if (!$assignedUsers.isEmpty())
      #set ($localizationParams = ['__assignedUsers__'])
      #set ($assignedUsersString = '')
      #foreach ($username in $assignedUsers)
        #if ($assignedUsersString != '')
          #set ($assignedUsersString = "$assignedUsersString,")
        #end
        #if ($mode == 'email')
          #set ($assignedUsersString = "$assignedUsersString#displayEmailNotificationEventUser($xwiki.getUser($username).getUser().getUserReference(), false)")
        #else
          #set ($assignedUsersString = "$assignedUsersString#displayNotificationEventUser($username, false)")
        #end
      #end
      #set ($localizationId = "taskmanager.events.taskChangedEvent.details.assignee.assigned" )
      #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams) )
      #set ($eventText = $eventText.replace('__assignedUsers__', $!assignedUsersString))
    #end
    #if (!$unassignedUsers.isEmpty())
      #if (!$assignedUsers.isEmpty())
        ## Newline if users were both assigned and unassigned.
        #set ($eventText = "$eventText<br>")
      #end
      #set ($localizationParams = ['__unassignedUsers__'])
      #set ($unassignedUsersString = '')
      #foreach ($username in $unassignedUsers)
        #if ($unassignedUsersString != '')
          #set ($unassignedUsersString = "$unassignedUsersString,")
        #end
        #if ($mode == 'email')
          #set ($unassignedUsersString = "$unassignedUsersString#displayEmailNotificationEventUser($xwiki.getUser($username).getUser().getUserReference(), false)")
        #else
          #set ($unassignedUsersString = "$unassignedUsersString#displayNotificationEventUser($username, false)")
        #end
      #end
      #set ($localizationId = "taskmanager.events.taskChangedEvent.details.assignee.unassigned" )
      #set ($eventText = "$eventText$services.localization.render($localizationId, 'xhtml/1.0', $localizationParams)" )
      #set ($eventText = $eventText.replace('__unassignedUsers__', $!unassignedUsersString))
    #end
  #end
  #if ($localizationParams.isEmpty())
    ## Default branch output.
    #set ($localizationId = "taskmanager.events.taskChangedEvent.details.${customEventInfo['type']}" )
    #set ($eventText = $services.localization.render($localizationId, 'xhtml/1.0', $localizationParams) )
  #end
#end

#macro (getDueDateDescription $customEventInfo $eventText)
  ## Send different messages if the due date was extended or reduced.
  ## The date is displayed using the format configured in datemacro.
  #set ($displayDateFormat = $services.datemacro.configuration.displayDateFormat)
  #set ($displayDateFormatter = $xwiki.jodatime.getDateTimeFormatterForPattern($displayDateFormat))
  #if ($customEventInfo['previousValue'])
    #if (!$customEventInfo['currentValue'])
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.none')
    #elseif ($customEventInfo['previousValue'] < $customEventInfo['currentValue'])
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.later')
    #else
      #set ($customEventInfo['type'] = $customEventInfo['type'] + '.earlier')
    #end
    #set ($customEventInfo['previousValue'] =
      $!escapetool.xml($displayDateFormatter.print(
        $xwiki.jodatime.getDateTime($customEventInfo['previousValue'])
      ))
    )
  #end
  #if ($customEventInfo['currentValue'])
    #set ($customEventInfo['currentValue'] =
      $!escapetool.xml($displayDateFormatter.print(
        $xwiki.jodatime.getDateTime($customEventInfo['currentValue'])
      ))
    )
  #end
  #getGenericFieldDescription($customEventInfo $eventText)
#end
