## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template("pickers_macros.vm")
#set ($hql =
  "select prop.value from BaseObject obj, StringProperty prop where obj.className='TaskManager.ProjectClass' and prop.id.id=obj.id and prop.name='project'")
#set ($results = $services.query.hql($hql).execute())
#set ($options = [{'name': $services.localization.render('TaskManager.TaskManagerClass_project_empty'), 'value': ''}])
#set ($translationKeyPrefix = 'TaskManager.TaskManagerClass_project_')
#foreach ($projectName in $results)
  #set ($translationKey = $translationKeyPrefix + $projectName)
  #if ($services.localization.get($translationKey))
    #set ($label = $services.localization.render($translationKey))
  #else
    #set ($label = $projectName)
  #end
  #set ($discard = $options.add({ 'name': $label, 'value': $projectName}))
#end
#set ($parameters = {
  'name': $displayer.parameters.name,
  'value': $displayer.value,
  'multiple': 'multiple',
  'prefix': ' ',
  'options': $options
})
#staticSelectPicker($parameters)