## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($hql =
  "select prop.value from BaseObject obj, StringProperty prop where obj.className='TaskManager.ProjectClass' and prop.id.id=obj.id and prop.name='project'")
#set ($projects_names = $services.query.hql($hql).execute())
<select size="1"
#foreach ($parameter in $displayer.parameters.entrySet())
  $escapetool.xml($parameter.key)="$!escapetool.xml($parameter.value)"
#end
>
<option value="">$escapetool.xml($services.localization.render('TaskManager.TaskManagerClass_project_empty'))</option>
#foreach ($rValue in $projects_names)
  #set ($key = "TaskManager.TaskManagerClass_project_$rValue")
  #set ($translation = $services.localization.render($key))
  <option value="$rValue">
    #if ($translation == $key)
      $rValue
    #else
      $translation
    #end
  </option>
#end
</select>